@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, black, white);
    min-height: 100vh;

}

main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}
.pokedex{
    width: 100%;
    max-width: 425px;
    box-shadow: -3px 4px 2px #333, -5px 7px 2px black;
}
.pokemon__img{
    position: absolute;
    left: 34%;
    bottom: 55%;
    top: 17%;
    transform: translate(-63%, 0);
    height: 23%;
}
.pokemon__data{
    font-weight: 600;
    color: rgb(194, 14, 155);
    font-size: clamp(10px,8vw,35px);
    font-family: 'Congenial Black';
}
.pokemon__name{
    position: absolute;
    top: 25%;
    right: 11%;
    text-transform: capitalize;
    box-shadow: -2px 2px 1px #2c4937;
}
.pokemon__number{
    position: absolute;
    top: 18%;
    right: 30%;
    text-transform: capitalize;
    box-shadow: -2px 2px 1px #2c4937;
}
.form{
    position: absolute;
    width: 65%;
    top: 60%;
    left: 28%;
}

.input__search{
    width: 70%;
    padding: 5%;
    outline: none;
    border: 2px solid #250b0b;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(5px,8vw,1rem);
    box-shadow: -2px 2px 1px #8d3232, -4px 6px 1px #333;
    border-radius: 5px;
}

.buttons{
    position: absolute;
    top: 93%;
    left: 56%;
    width: 82%;
    transform: translate(-57%, -160%);
    display: flex;
    gap: 150px;
}
.button{
    width: 50%;
    padding: 5%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(5px, 8vw,1rem);
    color: white;
    background-color: #333;
    box-shadow: -2px 3px 1px #222, -4px 6px 1px #000;
}
.button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}